# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://username:password@localhost:8000/nestdb"
FRONTEND_URL="http://localhost:3000"
PORT=3002

JWT_SECRET="Hl8D7ZRQqZPbR9J6oDnq21jCbrjOZd4Jo0wIGonIQH0=" #sample
JWT_EXPIRES_IN="60s"

REFRESH_JWT_SECRET="urWeiVlib0LvBGfn6ONbeZOGMCb9KiwT4iUJP/AfUDY=" #sample
REFRESH_JWT_EXPIRES_IN="7d"


GOOGLE_CLIENT_ID=???
GOOGLE_CLIENT_SECRET=???
GOOGLE_CALLBACK_URL="http://localhost:3002/auth/google/callback"

